.footer__main {
  background-color: #f3f3f3;
  padding: 25px;
  @include mq($until:sm) {
    padding: 20px;
  }
}

.footer__copyright {
  text-align: center;
  p {
    font-size: 14px;
    @include mq($until:sm) {
      font-size: 10px;
    }
  }
}